.title{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #030303;
}

.textCard{
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 7px;
}

.container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 1px gray;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    width: 300px;
    height: 350px;
    box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.75);
}

.card:hover{
    border: solid 1px red;
}



.brandLogo{
    align-self: flex-end;
}

.swiperNewIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent;
    height: 400px;
}

.swiperNewIn .cardImage{
    width: 230px;
}

.swiperNewIn .brandLogo{
    width: 60px;
}



@media(max-width:755px){
    .title{
        font-size: 30px;
    }
}

