.searchbarComponent{
    color: rgb(255, 255, 255);
    width: 400px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-top: solid 1px gray;
    padding: 5px;
    cursor: pointer;
}

.resultsSearch{
    background-color: rgb(60, 60, 60);
    max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 999;
    width: 400px;
    border-bottom-left-radius: 20px;
    
}

/* .result_container{
    background-color: black;
    border-radius: 10px;
}

.searchbar{
    background-color: rgb(228, 228, 228);
    color: black;
    width: 400px;
    padding: 10px;
    border: solid 1px rgb(80, 80, 80);
    
}

.result{
    height: 80px;
    display:flex;
    align-items:center;
    gap:5px; 
    margin:5px;
    justify-content:space-around;
    border-bottom: solid 1px rgba(128, 128, 128, 0.276);
    padding: 5px;
    cursor: pointer;
    background-color: black;
    color: #ffffff;
    z-index: 9999;
}


@media(max-width: 500px){
    .searchbar{
        width: 300px;
    }

    .searchbarComponent{
        width: 300px;
    }
} */