.searchbarComponent{
    color: black;
    width: 400px;
    display: flex;
    gap: 10px;
}

.result_container{
    background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border-radius: 10px;
}

.searchbar{
    background-color: rgb(228, 228, 228);
    color: black;
    width: 400px;
    padding: 10px;
    border: solid 1px rgb(80, 80, 80);
    
}

.result{
    height: 80px;
    display:flex;
    align-items:center;
    gap:10px; 
    margin:5px;
    justify-content:space-around;
    border-bottom: solid 1px rgba(128, 128, 128, 0.276);
    padding: 5px;
    cursor: pointer;
    background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    border-radius: 20px;
    z-index: 9999;
}


@media(max-width: 500px){
    .searchbar{
        width: 300px;
    }

    .searchbarComponent{
        width: 300px;
    }
}