.marquee_container {
    width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: rgb(55, 55, 55);
  }


  
.marquee_text {
    white-space: nowrap;
    animation: marquee 40s linear infinite;
  }

  .marquee_text:hover {
    animation-play-state: paused; 
  }
  
  .link {
    transition: opacity 0.3s ease-in-out; 
  }
  
  .link:hover {
    opacity: 0.7; 
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  